.project-type-wrapper {
    align-self: center;
    width: 100%;
    max-width: inherit;

    overflow: hidden;

    & .project-type {
        padding: 20px 0px;
        border-radius: 16px;
        display: flex;
        min-width: 100%;
        background-color: var(--primary-Projects-dark);
        height: 65vh;
        flex-direction: column;
        gap: 16px;

        & .buttons-container {
            align-self: flex-start;
            display: flex;
            min-width: 100%;
            gap: 8px;
            align-items: center;
            justify-content: center;
        }
    }
}