.skills-header {
    align-items: center;
    display: flex;
}

.skills-container {
    place-items: center;
    text-align: left;
    font-size: 18px;
    align-self: center;
    width: 100%;

    & ul {
        list-style-type: none;
        overflow: hidden;
    }
    & .skills-content {
        overflow-y: hidden;
    }
    & h4 {
   
        font-size: 24px;
        margin: .2rem 0;
    }   

    & .skills-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, 80px);
        gap: 16px;
        place-items: center;
        margin-bottom: .7rem;
        padding: 5px 0;

        // overflow-y: hidden;
        & li {
            max-width: 80px;
            max-height: 80px;
            position: relative;
            z-index: 4;
           
        }
        &  .tooltip {
            position: absolute;
            //top: 60%;
            top: 45%;
            left: .5rem;
            margin-top: 10px;
            padding: .55rem 1rem;
            font-size: 1rem;
            font-weight: 500;
            white-space: nowrap;
            color: #000;
            border-radius: 50px;
            background-color: #fff;
            box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
              0 5px 15px rgba(0, 0, 0, 0.07);
      
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            z-index: 5;
          }

          & li:hover .tooltip {
            //top: 100%;
            opacity: .9;
          }
    }
    & img {
        background-color: rgba(255, 255, 255, 0.7);
        max-width: 80px;
        max-height: 80px;
        cursor: pointer;
    }




}

@keyframes animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 800px) {
    .skills-container {
        align-self: flex-start;
        padding-top: 20px;
        & h4 {
            font-size: 20px;
        }

        & .skills-images {
            grid-template-columns: repeat(auto-fill, minmax(40px,  12vw));
            padding-bottom: 30px;
        }

        & img {
            aspect-ratio: 1/1;
            max-width: clamp(40px, 100%, 80px);
            max-height: clamp(40px, 100%, 80px);
        }

    }
}