.skills-header {
    align-items: center;
    display: flex;
}

.skills-container {
    place-items: center;
    text-align: left;
    font-size: 18px;
    align-self: center;
    width: 100%;

    & ul {
        list-style-type: none;
     
    }
    & .skills-content {
        overflow-y: hidden;
    }
    & h4 {
   
        font-size: 24px;
        margin: 10px 0;
    }   
     & .tooltip {
        //display: none;
        position: absolute;
        z-index: 5;
        min-width: fit-content;
        max-width: 200px;
        bottom: 0;
        left: 0;
        border-radius: 8px;
        background-color: white;
        color: black;
        padding: .3rem .6rem;
        text-overflow: ellipsis;
        visibility: hidden;
        white-space: nowrap;
		transform: translate(-50%, 1em);
    }


    & .skills-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, 80px);
        gap: 16px;
        place-items: center;
        margin-bottom: 25px;

        // overflow-y: hidden;
        & li {
            max-width: 80px;
            max-height: 80px;
            position: relative;

          
        }
        & li:hover .tooltip {
            visibility: visible;
        }
    }
    & img {
        background-color: rgba(255, 255, 255, 0.7);
        max-width: 80px;
        max-height: 80px;
    }



}

@keyframes animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 800px) {
    .skills-container {
        align-self: flex-start;
        padding-top: 20px;
        & h4 {
            font-size: 20px;
        }

        & .skills-images {
            grid-template-columns: repeat(auto-fill, minmax(40px,  12vw))
        }

        & img {
            aspect-ratio: 1/1;
            max-width: clamp(40px, 100%, 80px);
            max-height: clamp(40px, 100%, 80px);
        }

    }
}