.about-text {
    align-self: center;
    height: inherit;
    width: inherit;
    display: grid;
    gap: 32px;
    place-items: center;
    text-align: left;
    font-size: 18px;
    text-align: justify;
    overflow-y: hidden;
    
    .large-letter {
        font-size: 2rem;
    }
    & p {
        font-weight: 300;
    }
}

@media screen and (max-width: 800px) {
    .about-text {
        font-size: .9rem;
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: inherit;
        padding-top: 1rem;

        .large-letter {
            font-size: 1.8rem;
        }

        .para-wrapper {
            overflow-y: hidden  ;
        }
        p{
            display: inline-block;
            overflow: hidden;
        }
    }
}