.ml10 {
    position: relative;
    font-size: 40px;

    & .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        // overflow: hidden;
      }

    & .letter {
        display: inline-block;
        line-height: 1em;
        transform-origin: 0 0;
      }
      
      
  }
  

  .content {
    padding-left: 110px;
    padding-right: 25px;
    text-align: left;
    display: flex;
    align-items: center;

    & .para-text {
      overflow: hidden;
      font-size: 20px;
      font-weight: 200;
    }

    & h3 {
      margin-bottom: 8px;
    }
    
    & .head-content {
      margin-top: 125px;
    }
  }

  .right-content {
    display: flex;
    gap: 0;
    max-width: 100vw;
    // place-items: center;
    // position: relative;
    padding-right: 110px;
    padding-left: 120px;

    & .image-container {
      overflow: hidden;
      align-self: center;
      
     & img {
        width: 450px;
        max-width: 100%;      
        z-index: -1;
  
      }
    }
   
  }

  @media screen and (max-width: 800px) {
    .content {
      overflow: hidden;
      grid-column: 1;
      padding: 0 20px;
      padding-right: 45px;
      padding-top: 90px;
      align-items: flex-end ;
      max-height: 45vh;

      & .para-text {
        overflow: hidden;

        font-size: 13px;
        font-weight: 100;
      }
      & h3 {
        font-size: 25px;
        margin-bottom: 8px;
      }
  
      & .head-content {
        margin-top: 0;
      }
    }


    .right-content {
      grid-column: 0;
      padding: 0 20px;
      height: 55vh;
      padding-right: 45px;
      & img {
        width: 80%;
      }
    }
  }