.socials-container {
    position: fixed;
    z-index: 5;
    left: 100px;
    top: 40px;


    & ul {
        display: flex;
        list-style-type: none;
        gap: 50px;

        
        & svg {
            margin: 10px;
        }

        & li:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
        }

    }


}

@media screen and (max-width: 800px) {
    .socials-container{
        display: none;
        left: 20px;
        top: auto;
        bottom: 40px;;
        & ul {
            flex-direction: column-reverse;
            gap: 15px;
            align-items: flex-end;
        }
    }
}