.socials-container {
    position: fixed;
    z-index: 5;
    left: calc(6rem - .6rem);
    top: 2.5rem;


    & ul {
        display: flex;
        list-style-type: none;
        gap: 4.2rem;

        & li {
            display: flex;
            align-items: center;
            justify-content: center;

            & a {
                width: inherit;
                height: inherit;
                cursor: pointer;
                margin: .6rem;
            }
        }

        & svg {
            margin: 0;
        }


        & li:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        }

    }


}

@media screen and (max-width: 800px) {
    .socials-container{
        //display: none;
        right: 1.4rem;
        top: 2.5rem;
        & ul {
            flex-direction: row-reverse;
            gap: .5rem;
            align-items: flex-end;
        }
    }
}