.App {
  text-align: center;
  min-height: 500vh;
  background-color: var(--primary-orange);
}

.background-div {
  background-color: var(--primary-orange-dark);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 500vh;
}

.svg-container {
  position: fixed;

  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);

}

a {
  text-decoration: none;
}